.container {
  align-items: center;
  color: #7da6bb;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  position: relative;
}

.dateStyle {
  margin: 2px;
}

.timeStyle {
  font-size: 24px;
}
